syntax: glob
.hg*
results/*
cellclamp_results/*
networkclamp_results/*
jobscripts/*
setupfiles/*.dat
setupfiles/clamp/*.dat
setupfiles/clamp/*.mat
setupfiles/clamp/*.txt
stimulation/sintrainparams.hoc
cells/allsyns.dat
cells/synlist.dat
*.o
*.c
*.dll
*.~
x86_64
build/*

*pyc
NeuroML2/*.dat
NeuroML2/*.svg
NeuroML2/*.mod
/NeuroML2/cells/tests/*.mod
/NeuroML2/cells/tests/*.hoc
/NeuroML2/cells/tests/*.svg
/NeuroML2/cells/tests/*nrn.py
/NeuroML2/channels/LEMS_Test_*.xml
NeuroML2/channels/test_Cadynamics/NeuroML2/*.mod
NeuroML2/channels/test_Cadynamics/NeuroML2/*.hoc
NeuroML2/channels/test_Cadynamics/NeuroML2/*nrn.py
NeuroML2/channels/*.dat
NeuroML2/channels/old

results/*
/*.dat
/NeuroML2/channels/test_Cadynamics/NEURON/*.dat
/NeuroML2/channels/test_Cadynamics/NeuroML2/*.dat
/NeuroML2/cells/tests/*.dat
/NeuroML2/notebooks/.ipynb_checkpoints
/NeuroML2/notebooks/*.mod
/NeuroML2/notebooks/LEMS_*.xml
/NeuroML2/notebooks/*.hoc
/NeuroML2/notebooks/*.dat
/NeuroML2/notebooks/*_nrn.py
/NeuroML2/notebooks/*.net.nml
/NeuroML2/notebooks/Test_*.html
/NeuroML2/notebooks/Test_*.py
/NeuroML2/cells/*.cell.png
/NeuroML2/cells/tests/*.cell.png
/NeuroML2/synapses/*.mod
/NeuroML2/synapses/*.dat
/NeuroML2/cells/tests/*_netpyne.py
/NeuroML2/cells/tests/*_netpyne.py_main.json
/NeuroML2/synapses/LEMS_test_nrn.py
/NeuroML2/synapses/ngfcell.hoc
/NeuroML2/network/morphology_helper.pyc
/NeuroML2/network/test/*.mod
/NeuroML2/network/test/LEMS_Stim_*.xml
/NeuroML2/network/test/*.hoc
/NeuroML2/network/test/*.dat
/NeuroML2/network/test/LEMS_Stim_*_nrn.py
/NeuroML2/network/test/Stim_*.net.nml
NSG/*.zip
NSG/*.tar.gz
NSG/figures/

